@font-face {
  font-family: "myriad";
  src: url("images/bold.otf");
}
@font-face {
  font-family: "myriadit";
  src: url("images/boldit.otf");
}

#morelist li { padding:10px 0 0px 0;}

body { margin:0; padding:0; background:url(images/background.png) top center;  background-repeat:no-repeat; font-family:arial; font-size:18px; color:white; font-weight:normal; }

#footer { width:100%; background:url(images/footer.png) top center; background-repeat:no-repeat; position:relative; margin-top:-240px; padding:480px 0 0 0; }

.container { width:990px; margin:0 auto; }

#header { margin:20px 0 0 0; width:990px; height:228px; background:url(images/header.png); }

#buttons { margin:10px 0 20px 10px; }

#buttons a { cursor:text; display:block; float:left; width:269px; height:67px; background:url(images/button1.png); color:#0076bf;  text-decoration:none; padding:15px 0 0 55px; }

#buttons a b { display:block; text-transform:uppercase; font-size:30px; margin:0px 0 0px 0;  font-family:myriadit;}


.small { font-size:12px; }

.center { margin:0 3px 0 3px; }

.leftside { float:left; width:580px; margin:0 30px 0 10px; }

.title { text-transform:uppercase; font-weight:bold; margin:20px 0 25px 0; font-family:myriadit; font-size:24px; }

.offer  { font-size:14px; line-height:25px; }

.rightside { float:left;  }

#more { width:351px; height:32px; padding:9px 0 0 0; margin:20px 0 0 10px; color:white; text-transform:uppercase; text-decoration:none; background:url(images/button4.png); display:block; text-align:center;font-family:myriadit; font-size:24px; }

.bluetitle { font-weight:bold; color:white; margin:20px 0 10px 10px; padding:190px 0 0 0; font-family:myriadit; font-size:25px; color:#0076bf;}

.headertext { padding:20px 0 0 30px; }

.headertext b { font-size:42px; text-transform:uppercase; display:block; padding:0 0 10px 0; font-family:myriadit; }

.item { margin:20px 0 20px 0; }

.itemtop { width:983px; height:90px; background:url(images/top.png);}

.itemcenter { width:803px; background:url(images/center.png); padding:0 80px 0 100px; margin:0 0 -20px 0;}

.itembottom { width:983px; height:23px; background:url(images/bottom.png);}

.itemtop2 { width:983px; height:90px; background:url(images/top2.png);}

.itemcenter2 { width:803px; background:url(images/center2.png);  padding:0 80px 0 100px; margin:0 0 -20px 0;}

.itembottom2 { width:983px; height:23px; background:url(images/bottom2.png);}

.compensate { position:relative; top:-30px;}

.footertitle { margin:0 0 0 10px; font-family:myriadit; font-size:30px; }

.footertext { text-align:center; font-size:16px;}

.footertext i { font-style:italic; font-size:22px; font-family:myriad; font-size:30px;}

.footertext b { font-size:22px; font-family:myriad; font-size:30px;}

.number { font-size:42px; color:#007dc2; padding:18px 0 0 0px; font-family:myriadit; width:89px; text-align:center; }

.number2 { font-size:42px; color:#8bcc00; padding:18px 0 0 0px; font-family:myriadit; width:89px; text-align:center; }

.cleaner { clear:both; }

.contact { margin:0 auto; width:250px; padding:10px 0 0 0;  text-align:center; }
.contact a { color:white; text-decoration:underline;  }