@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400&subset=latin,latin-ext);
body{
	background: #e9e9e9;
	font-family: 'Open Sans', sans-serif;
}
.wrap{
	background: #fff;
}
/*header*/
.header-top{
	background: #007bab;
	color: #fff;	
}
	.header-top .header-logo{
		max-width: 505px;
		display: block;
	}
	.header-top .contact{
		padding-top: 31px;
		padding-bottom: 15px;
	}
		.contact > div{
			padding: 0;
		}
			.contact .circle{
				width: 45px;
				height: 45px;
				background: #fff;
				color: #007bab;
				display: inline-block;
				line-height: 45px;
				text-align: center;
				font-size: 25px;
			}
			.contact .contact-data{
				display: inline-block;
				font-size: 12px;
				color: #fff;
			}
				.contact .contact-data p{
					margin: 0;
				}
				.contact .contact-data h1{
					font-size: 16px;
					font-weight: bold;
					margin: 0;
				}
					.contact .contact-data h1 small{
						color: #fff;
						font-size: 14px;
						font-weight: bold;
					}
/**/
.desktop-top-header{}
	.desktop-top-header .header-logo{
		width: 505px;
		display: block;
		float: left;
	}
	.desktop-top-header .contact{
		width: 635px;
		display: block;
		float: left;
		width: ;
		padding: 30px 0 0 80px;
	}
	.desktop-top-header .contact .contact-part{
		display: block;
		float: left;
	}	
		.desktop-top-header .contact .contact-part .circle{
			margin-right: 8px;
		}
		.desktop-top-header .contact .contact-part-1{
			width: 208px;
		}
		.desktop-top-header .contact .contact-part-2{
			width: 160px;
		}

	.header-content{
		padding: 15px 0;
	}
		/*message*/	
		.message{
			padding: 10px 26px;
			font-size: 15px;
		}
			.message > p{
				margin: 0 0 15px;
			}
			.message .administrator{
				margin: 40px 0 0;
			}
				.administrator > img,
				.administrator > div{
					display: inline-block;
					vertical-align: top;
				}
					.administrator-data {
						padding: 0 0 0 20px;
					}
					.administrator h1{
						font-size: 18px;
						font-weight: bold;
						margin: 5px 0;
					}
					.administrator a{
						color: #252525;
					}
		.vintage{
			margin: 0 10px;
		}
			.vintage img {
				max-height: 375px;
			}

.circle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.green{
	color: #71ac00;
}
[class*="green-"]{
	background: #71ac00;
	color: #fff;
}
[class*="grey-"]{
	background: #f4f4f4;
	color: #252525;
}
[class*="blue-"]{
	background: #007bab;
	color: #fff;
}
.green-line{
	font-size: 22px;
	font-weight: bold;
	padding: 12px 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.3 );
}
.grey-line{
	font-size: 12px;
}

	.stage-1,
	.stage-2{ 
		padding:  12px 25px;
	}
/**/
.content{
	padding: 0 20px 20px;
}
/**/
.blue-line{
	font-size: 12px;
	margin: 83px 0 83px -40px;
	position: relative;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5 );
}
	.blue-line .edge{
		position: absolute;
		top: 100%;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 20px 20px 0;
		border-color: transparent #3b738d transparent transparent;
	}
	.blue-line .circle.counter{
		color: #71ac00;
		background: #fff;
		display: inline-block;
		width: 43px;
		height: 43px;
		line-height: 43px;
		font-size: 30px;
		text-align: center;
		margin: 6px 6px 6px 26px;
		vertical-align: top;
	}
	.blue-line .title{
		display: inline-block;
		margin: 6px 0;
	}
		.blue-line .title h1,
		.blue-line .title h3{
			text-transform: uppercase;
			margin: 0;
			font-weight: bold;
		}
		.blue-line .title h1{
			font-size: 30px;
		}
			.blue-line .title .stars{ 
				display: inline-block;
			}
				.star{
					color: #ffcc00;
					margin: 0 2px;
					font-size: 20px;
				}
		.blue-line .title h3{
			font-size: 14px;
		}
			.blue-line .title h3 small{
				text-transform: none;
				color: #fff;
			}
		.blue-line .circle.price{
			width: 202px;
			height: 202px;
			background: #71ac00;
			position: absolute;
			top: -73px;
			border: 8px solid #fff;
			text-align: center;
		}
			.blue-line .circle.price h1,
			.blue-line .circle.price h2{
				font-weight: bold;
			}
			.blue-line .circle.price h1{ 
				margin-top: 10px;
			}
				.blue-line .circle.price h1 small{
					color: #fff;
				}
			.blue-line .circle.price h2{
				margin-top: 40px;
				font-size: 20px;
			}
			.blue-line .circle.price .btn-primary,
			.blue-line .btn-danger{
				font-weight: bold;
				text-transform: uppercase;
				text-shadow: 0 0 2px rgba(0, 0, 0, 0.5 );
				-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5 );
				-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5 );
				box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5 );
			}
			.blue-line .circle.price .btn-primary{
				background: #007bab;
			}
			.blue-line .like{
				margin: 7px 7px 7px 15px;
				text-align: center;
			}
			.blue-line .btn-danger{
				background: #ff5700;
				line-height: 29px;
				font-size: 22px;
			}
/*traveling*/
.traveling-tiles{
	margin-top: 20px;
}
	/*.traveling-tiles .full-height{
		height: 100%;
		display: block;
	}*/
	.traveling-tiles [class*="col-"]{
		padding: 0;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #fff;
	}
		.traveling-tiles .tile{
			min-height: 124px;
			line-height: 124px;
			border-bottom: 1px solid #fff;
			display: block;
			color: #fff;
			text-align: center;
			vertical-align: middle;
			font-weight: bold;
			font-size: 21px;
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.5 );
			background: #f4f4f4;
		}
			.traveling-tiles .tile span {
			 	display: inline-block;
				vertical-align: middle;
				line-height: normal;      
			}
		.traveling-tiles .tile:last-child{
			border: none;
		}
		.traveling-tiles .tile.btn-primary{
			background: #007bab;
		}
		.traveling-tiles .tile.btn-success{
			background: #71ac00;
		}
.traveling-data{
	margin: 0 0 0 10px;
	position: relative;
}
	.traveling-data .vintage-small{
		position: absolute;
		right: 10px;
		top: -50px;
	}
	.traveling-data h1{
		padding: 10px;
		font-size: 24px;
	}
	.traveling-data li{
		border-bottom: 1px solid #f2f2f2;
		margin: 5px 0;
		padding: 5px 0;
	}
		.traveling-data li:last-child{
			border: none;
		}
/*footer*/
.footer{
	background: #fff;
	padding: 20px 20px 0;
	font-size: 13px;
}
	.footer .footer-top{
		padding: 20px 0 0;
		border-top: 1px solid #bcbcbc;
	}
	.address{
	}
		.address > a,
		.address .address-data{
			display: inline-block;
			vertical-align: top;
		}
			.address-data{
				font-size: 13px;
				padding: 0 0 0 20px;
			}
			.address-data h1{
				font-size: 18px;
				font-weight: bold;
				margin: 0;
			}
@media (max-width: 749px){
	.header-top .contact{
		padding-top: 0;
	}
	.administrator{
		font-size: 10px;
	}

	.vintage{
		margin: 10px 0;
	}
	.message .vintage{
		max-width: 128px;
		margin: 10px auto;
		display: block;
	}
	
	.blue-line{
		margin: 20px 0;
	}
		.blue-line [class*="col-"]{
			display: block;
		}
			.blue-line .circle.price{
				position: relative;
				top: 0;
				margin: 0 auto;
				width: 100%;
				height: auto;
				border-width: 1px;
				border-left: 0;
				border-right: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
			}
				.blue-line .circle.price h2{
					margin-top: 10px;
				}
	.traveling-tiles [class*="col-"]{
		clear: both;
	}
		.traveling-tiles [class*="col-"] img{
			display: block;
			clear: both;
			min-width: 100%;
		}
	.clearfix.line{
		height: 1px;
	}
	
	.traveling-data{
		margin: 0;
	}
		.traveling-data .vintage-small{
			position: relative;
			top: auto;
			right: auto;
			margin: 0 auto;
			display: block;
		}
	.footer .footer-top{
		padding: 20px 0 20px;
		margin: 10px 0;
		border-bottom: 1px solid #bcbcbc;
		border-top: 1px solid #bcbcbc;
	}
	.footer  [class*="col-"]{
		padding: 0;
		font-size: 10px;
	}
	/*.address .address-content{
		border-top: 1px solid #bcbcbc;
		margin-top: 20px;
		padding-top: 20px;
	}
		.address a.footer-logo{
			display: block;
			text-align: center;
			margin: 10px 0;
			float: left;
			max-width: 50px;
		}
			.address a.footer-logo img{
				width: 100%;
			}*/
		.footer .administrator-data{
			padding: 0 0 0 15px;
		}
		.footer .address-data,
		.administrator-data{
			padding: 0 5px;
			font-size: 9px;
			word-wrap: break-word;
		}
			.footer .address-data{
				padding: 0 20px 0 5px;
			}
			.footer .address-data h1,
			.administrator-data h1{
				font-size: 15px;
			}

}
@media (min-width: 750px){	
	.stage-1,
	.stage-2{ 
		padding:  12px 15px;
	}
	.stage-1{ text-align: right;}
	.stage-2{ text-align: left;}
		.address a.footer-logo{
			display: inline-block;
		}
}
@media (max-width: 1024px){
	.contact-part{
		padding: 0 10px;
		text-align: center;
	}
		.contact-part .circle{
			margin: 0 15px;
		}
			.contact-part .contact-data{
				display: block;
			}
			.contact-part .contact-data h1{
				font-size: 12px;
				padding: 0 5px;
			}
	.blue-line {
		margin-left: 0;
	}
		.blue-line .title h1,
		.blue-line .title h3{
			margin: 0 20px;
		}
			.blue-line .title h1{
				font-size: 25px;
			}
		.blue-line .edge{
			display: none;
		}
			.blue-line .title .stars{ 
				display: block;
			}
	.traveling-tiles [class*="col-"] img{
		display: block;
		clear: both;
		width: 100%;
		border-left: none;
	}
	.traveling-tiles .tile{
		min-height: 50px;
		line-height: 50px;
	}
	.traveling-data{
		margin: 0;
	}
}