body {
	font-size:12px;
	font-family:arial;
	background:url(/images/background.png) top center no-repeat;
	margin:0;
	padding:0;
}
h2 { padding:0; margin:0;}

h1 { padding:0 0 10px 0; margin:10px 0 10px 0; border-bottom:1px dotted #004b6f; color:#004b6f; font-style:italic; }

#loginfieldset { width:400px; }

.errorMessage { padding:10px 0 0 10px; }

.errorMessage a { font-weight:bold; text-decoration:underline; }
.welcome { padding:0 0 5px 10px; margin:10px 0 0 0;  color:#004b6f; font-style:italic; font-size:24px; font-weight: bold;}

#container { width:980px; margin:0 auto; }

.news legend { white-space:normal;}

#content { width:980px; margin:0;padding:15px 0 0 0;   }

#pageTitle { font-size:20px; padding:10px 10px 3px 3px; color:white; font-style:italic; text-shadow:1px 1px 0px #006ba5; }

.leftItem { width:720px; background:url(/images/leftContent.png) repeat-y;margin:10px 0 10px 0; }

.leftContent { padding:10px; }

.leftContent ul { padding:0; margin:0; list-style:none; }

.leftContent ul li { padding:0; margin:0; background:url('/images/listBackground.png'); width:616px; height:30px; margin:4px 0 4px 35px; padding:8px 0 0 13px;}

.leftContent ul li label { color:#004b6f; font-weight:bold; float:left; display:block; width:200px; padding:3px 0 0 0;}

.leftContent ul li .long { color:#004b6f; font-weight:bold; float:left; display:block; width:400px; margin:-3px 0 0 0;}

.leftContent ul li.comment { padding:0; margin:0; background:url('/images/long.png'); width:616px; height:104px; margin:4px 0 4px 35px; padding:8px 0 0 13px;}

.leftContent ul li.comment textarea { float:left; width:274px; height:90px; border:1px solid #006ea4;  padding:5px 10px 0 10px; margin:0;}

.leftContent ul li input[type=text] { float:left; width:274px; height:18px; background:url('/images/input.png'); border:none; padding:5px 10px 0 10px; margin:0; }

.leftContent ul li input[type=checkbox] { float:left; }  

.info { float:right; margin:0 30px 0 0; }

#logo { float:left; }

.logo { display:block; width:330px; height:55px; }

#subMenu { float:right; width:320px; text-align:right; }

#subMenu ul { padding:0; margin:0; list-style:none; padding:5px 0 0 0; }

#subMenu ul li { padding:0; margin:0; float:left; padding:3px; color:#5eb9e6; }

#subMenu ul li a { color:#5eb9e6; text-decoration:none; font-size:12px; }

.note { color:#004b6f; font-style:italic; font-weight:bold; font-size:12px; margin:10px 0 10px 10px; }

#topHeader { height:80px; padding:20px 0 0 0; width:980px;}

#leftSide { float:left; width:730px; }
 
#rightSide { float:left; width:250px; }

.leftTop {  background:url("/images/leftTop.png"); height:30px; width:670px; color:#004b6f; font-weight:bold; font-size:18px; padding:13px 0 0 50px; }

.leftBottom {  background:url("/images/leftBottom.png"); height:18px; width:720px; }

#footer { min-height:123px; width: 100%; padding:0; background:url("/images/footer.jpg") top center no-repeat; background-color:#004c70; }




.rightBox { width:250px; background:url("../images/rightContent.jpg") repeat-y; margin:0 0 10px 0; }

.rightTop { width:250px; height:11px; background:url("../images/rightTop.jpg") no-repeat; }

.rightTopLastMinute {  width:230px; height:23px; background:url("../images/lastMinute.jpg") no-repeat; margin:0px 0 10px 0; text-transform:uppercase; color:#004b6f; font-weight:bold; padding:10px 0 0 20px;}

.rightTopSuperLastMinute { width:230px; height:23px; background:url("../images/superLastMinute.jpg") no-repeat; margin:10px 0 0 0; text-transform:uppercase; color:white; font-weight:bold; padding:10px 0 0 20px; }

.rightContent { text-align:center; }
/*
a#submit { width:118px; height:23px; background:url('/images/go.png'); margin:10px auto; display:block; color:white;text-decoration:none; text-align:center; font-weight:bold; text-transform: uppercase; padding:10px 0 0 0; }
*/
.rightBottom { width:250px; height:8px; background:url("../images/rightBottom.jpg") no-repeat; }

.likeBox { margin:0 0 0 3px; width:242px; height:358px; overflow:hidden; }

.likeBox iframe {margin:-1px; }

.newsletterBox { margin:0 0 0 3px; width:202px; overflow:hidden; text-align:left; padding:10px 20px 10px 20px;}

.newsletterBox ul { margin:0; padding:0; list-style:none; }

.newsletterBox ul li { clear:both; height:30px; }

.newsletterBox label { padding:3px 0 0 0; display:block; float:left; width:70px; }

.newsletterBox input[type=text] { border:1px solid #004b6f; width:120px; -moz-border-radius: 5px;  -webkit-border-radius:5px; float:left; }

.newsletterBox a { display:block; -moz-border-radius: 5px;  -webkit-border-radius:5px; float:left; text-decoration:none; color:white; font-weight:bold; background-color:#0073aa; padding:5px; margin:0 0 0 60px; }

.hiddenbox { width:550px;background-color:none;padding:10px; margin:10px;display:none;}

.hiddenbox2, .hiddenbox3{ width:550px;background-color:none;padding:10px 0 0 40px; margin:10px;display:none;}

.hidden { display:none; }

#questionbox { padding:10px 0 0 20px;  }

#questionbox a {  background:url('/images/purplebg.jpg') no-repeat; width:616px; height:26px; margin:4px 0 4px 10px; padding:12px 0 0 13px; color:#004b6f; font-weight:bold; text-decoration:none; display:block;}
table, td
{
    border-color: #600;
    border-style: solid;
	font-size:12px;
	font-family:arial;
}
.cleaner { clear:both; }
a {
	text-decoration:none;
	color:black;
}
fieldset {
	margin:0 auto;
	width:700px;
	border:1px dotted #c4c4c4;
	border-radius:3px; 
}

input[type=text], input[type=password], textarea, input[type=submit] { border:1px solid #c4c4c4; }
fieldset.news {
	margin:0 auto;
	width:785px;
}
fieldset label {
	width:150px;
	display:block;
	float:left;
}
fieldset input {
	border:1px solid black;


}
fieldset input[type=submit] {
	width:80px;
}
a img { border:none; }
fieldset input[type=checkbox] {
	border:1px solid black;
	float:left;
	width:50px;
}
fieldset ul {
	padding:0;
	margin:0;
}
fieldset ul li {
	padding:0;
	margin:5px 0 5px 0;
	clear:both;
	list-style:none;
}
hr { border-top:1px dotted black; }

.copyright { text-align:center; font-weight:bold; margin:10px 0 0 0 ;}
table
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-radius:3px;
    border-collapse: collapse;
}
.small {
	width:30px;
}
.small1 {
	width:80px;
	margin:0 0 0 1px;
}
.small2 {
	width:140px;
}
td
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}
.header {
	background-color:#c4c4c4;
	text-align:center;
	font-weight:bold;
}
.org {
	background-color:#FFCC66;
}
.lightblue {
	background-color:#CCFFFF;
}
.red {
	background-color:#E56E94;
}
.green {
	background-color:#4E9258;
}
.grey {
	background-color:#c4c4c4;
}
.pink {
	background-color:pink;
}
.blue {
	background-color:#79BAEC;
}
.purple {
	background-color:#9E7BFF;
}
.orange {
	background-color:orange;
}
.yellow {
	color:black;
	background-color:#FFFFCC;
}
.notify {
	padding:5px;
	border:1px dotted black;
	background-color:green;
	color:white;
	width:400px;
	margin:0 auto;
	text-align:center;
}
.notify a { 
	color:white;
	font-weight:bold;
}
.subMenu a {
	display:block;
	padding:5px;
	width:130px;
	margin:5px;
	text-align:center;
	font-size:12px;
	text-decoration:none;
	color:black;
	font-weight:normal;
	border:1px solid black;
	float:left;
}
.yellow a{ 
	color:black;
}
.bold {
	font-weight:bold;
}
.filter,.subMenu {
	text-align:center;
	width:915px;
	margin:0 auto;
	padding:0
	
}
a.button {
	display:block;
	padding:5px;
	width:130px;
	margin:5px;
	text-align:center;
	font-size:12px;
	text-decoration:none;
	color:white;
	font-weight:normal;
	border:1px solid black;
	float:left;
}
a.selectbutton {
	display:block;
	padding:5px;
	width:130px;
	margin:5px;
	text-align:center;
	font-size:12px;
	text-decoration:none;
	border:1px solid #004b6f;
	float:left;
	color:#004b6f;
	background-color:#d4e9ee;
}
a.white {
	color:black;
}
.offers ul {
	padding:0;
	margin:0;
	list-style:none;
}
.offers ul li {
	clear:both;
	height:24px;
}

.offers ul li label{
	float:left;
	width:100px;
	font-weight:bold;
}
.offers ul li input[type=text]{
	width:500px;
	border:1px solid black;
	height:20px;
}

.redmessage {
padding:5px;
	margin:10px;
	border:1px dashed black;
	width:605px;
	border-radius:3px; 
	margin:10px auto;
	text-align:center;
	font-weight:bold;
	background-color:#E56E94;
}
.message {
	padding:10px;
	margin:10px;
	border:1px dashed #c4c4c4;
	border-radius:3px;
	width:375px;
	margin:10px auto;
	text-align:center;
	font-weight:bold;
	background-color:#f7f7f7;

}
.rowHead {
	background-color:#c4c4c4;
	font-weight:bold;
	text-align:center;
}
#facebox table, #facebox td { border:none; }

input.long { width:250px; }

label.required { font-weight:bold; }

.formCalculate { background-color:#c4c4c4; }

.formCalculate2 { background-color:#c4c4c4; }

.maskeddate { width:140px; text-align:right; }

.tarea { width:250px; height:70px; border:1px solid black; font-family:arial; font-size:12px;}
/* datepicker css */


table.jCalendar {
	border: 1px solid #000;
	background: #aaa;
    border-collapse: separate;
    border-spacing: 2px;
}
table.jCalendar th {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	background: #ccc;
	color: #000;
	padding: 3px 5px;
	text-align: center;
	border:none;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}

.dp-applied {  width:200px; float:left; }

table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #bbb;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #ccc;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 184px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}
/* date picker ends */

.numeric { width:60px; text-align:right; }

.tabs a { display:block; float:left; border:1px solid black; padding:3px; margin:1px 1px 0px 1px;}

.tabs a.active { background-color:#c4c4c4; color:white;}

.partnerForm input[type=text] { width:500px; }

.partnerForm textarea { width:500px; height:30px; border:1px solid black; }

.partnerForm label { padding-top:4px; padding-left:3px;}

#settingsForm input[type=text] { width:300px;}

#settingsForm legend { font-weight:bold;}

#settingsForm { margin-bottom:10px; width:500px;}

#editform { margin-bottom:10px; width:745px;}

#editform input[type=text] { width:350px;}

.priceform { width:350px; }

.priceform .maskeddate { margin:5px 0 5px 0; width:80px;}

.priceform input[type=text] { width:100px; }

.pricetextarea { border:1px solid black; width:190px; height:40px;}

a.addprice { display:block; padding:5px; border:1px solid black; width:80px; margin:0 auto; margin-top:10px; text-align:center; background-color:#c4c4c4;}


#invoiceform input[type=text] { width:500px; }

#invoiceform .invoiceform { margin:0; width:80px;}

.galleryitem { float:left; border-left:1px dashed black; border-bottom:1px dashed black; }

.gallery img {margin:3px; width:133px;}

.default { background-color:#c4c4c4; }

.btn { display:block; padding:3px; background-color:#c4c4c4; border:1px solid black; width:90px; margin:10px 0 10px 0; text-align:center;}


/***** uploader *****/

/* CSS vs. Adblock tabs */
.swiff-uploader-box a {
	display: none !important;
}




#demo-status .progress {
	background: url(/images/progress-bar/progress.gif) no-repeat;
	background-position: +50% 0;
	margin-right: 0.5em;
	vertical-align: middle;
}

#demo-status .progress-text {
	font-size: 0.9em;
	font-weight: bold;
}

#demo-list {
	list-style: none;
	width: 450px;
	margin: 0;
	padding:0;
}

#demo-list li.validation-error {
	padding-left: 44px;
	display: block;
	clear: left;
	line-height: 40px;
	color: #8a1f11;
	cursor: pointer;
	border-bottom: 1px solid #fbc2c4;
	background: #fbe3e4 url(/images/failed.png) no-repeat 4px 4px;
}

#demo-list li.file {
	border-bottom: 1px solid #eee;
	background: url(/images/file.png) no-repeat 4px 4px;
	
}
#demo-list li.file.file-uploading {
	background-image: url(/images/uploading.png);
	background-color: #D9DDE9;
}
#demo-list li.file.file-success {
	background-image: url(/images/success.png);
}
#demo-list li.file.file-failed {
	background-image: url(/images/failed.png);
}

#demo-list li.file .file-name {

	margin-left: 44px;
	display: block;
	font-size:8px;
	clear: left;
	line-height: 40px;
	height: 40px;
	font-weight: bold;
}
#demo-list li.file .file-size {
	font-size: 0.9em;
	line-height: 18px;
	float: right;
	margin-top: 2px;
	margin-right: 6px;
}
#demo-list li.file .file-info {
	display: block;
	margin-left: 44px;
	font-size: 0.9em;
	line-height: 20px;
	clear
}
#demo-list li.file .file-remove {
	clear: right;
	float: right;
	line-height: 18px;
	margin-right: 6px;
}

/***** uploader ends here *****/
.facebookoffers { }
.facebookoffers textarea { border:1px solid black; width:490px; height:200px; padding:5px; margin:0;}
.facebookoffers input[type=text] { border:1px solid #c4c4c4; }
.activation { padding: 10px 0 10px 0; }
.homeleft { float:left; width:450px;}
.homenews { margin:15px 0 0 0; float:right; width:500px;}
.newsbox { border:1px solid #c4c4c4; border-radius:3px;  margin:5px 0 5px 0;  }
.newstitle { background-color:#c4c4c4; padding:5px; font-weight:bold; }
.newscontent { padding:5px; }
.newscontent center { margin:5px 0 0 0; font-size:10px; font-style:italic; border-top:1px solid #c4c4c4; padding:5px 0 0 0;}

.statusbar { padding:10px 0 0; font-size:16px; color:white; font-weight:bold; float:right; text-align:right;}

.statusbar a { font-weight:normal; color:white; font-size:11px; }
.searchform { border:1px solid black;-moz-opacity:0.8;opacity:0.80;width:200px;padding:1px 1px 2px 2px;position:fixed;top:0px;right:0px;background-color:white; }
.searchform input[type=text] { height:20px;width:150px;margin:1px 5px 0 0;padding:0;float:left; }
.searchform .searchbutton { display:block; background:none; color:black; border:1px solid black; height:10px;padding:5px; margin:1px 0 0 0;float:left;width:30px;float:left; font-weight:bold; text-align:center; text-transform:uppercase;}

/*** facebox ****/

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

/*** facebox *****/