body { padding:0; margin:0;  background:url('/images/bg_cs.jpg') top center no-repeat;  font-family:arial; font-size:12px;  text-align:center; color:#252525;}
	
	.alert { padding-top:10px !important;}
	
	.alert a { font-weight:bold; color:black; text-decoration:none; }
	#container { text-align:left; width:985px; ; margin:0 auto; } 
	
	#header { height:115px;  width:100%; border-bottom:1px solid #b8b8b6; margin:0 0 10px 0;}
	
	.map { margin:10px 0 0 0; width:293px; height:250px; border:1px solid #d9d9d9;}
	
	#content {   }
	
	.hidden { display:none; }
	
	#rightside {   float:right; width:350px; margin:0 0 10px 0px; padding:0 0 10px 0;}
	#text {  }
	
	#footer { background-color:#eceae3; padding:20px; margin:10px 0 0 0; border-top:1px solid #b8b8b6; }
	#footer img{ margin:0 10px 0 10px;  } 	
	
	.welcome { font-size:24px; color:black; text-align:center;  padding:0 0 10px 0;  font-weight:bold; text-align:center; }
	.centered { text-align:center; padding:0 0 10px 0;}
	
	.note { background-color:#ae2c01; border-radius:5px; text-align:center; padding:10px; font-weight:bold; color:white; margin:10px 0 10px 0; } 
	
	.partnerimage img { width:98px; margin:0 1px 1px 0;}
	
	.szeptitle { font-weight:bold; text-align:center; padding:0 0 10px 0;}
	.hiddenbox,.hiddenbox2,.hiddenbox3,.hiddenbox5,.info{ display:none; }
	
	.hiddenbox4 { display:none;}
	
	.long { float:left; }
	
	 ul { padding:0; margin:0; }
	 
	 ul li { padding:0; margin:0; list-style:none; } 
	 
	 label { display:block; width:200px; float:left; font-weight:bold;padding:6px 0 0 0; font-size:12px; }
	 
	 .cleaner { clear:both; }
	 
	 .leftTop { padding:30px 0 0 20px; font-weight:bold; font-size:16px; width:600px; background:url('/images/lefttop.png'); height:34px; color:white; margin:10px 5px 0 0px; }
	 
	  .leftTopGrey { padding:32px 0 0 20px; font-weight:bold; font-size:16px; width:600px; background:url('/images/lefttopgrey.png'); height:29px; color:white; margin:10px 5px 0 0px; }
	 .leftItemGrey {  padding:10px 20px 0 20px; background:url('/images/leftcontentgrey.png'); width:580px;  }
	 
	 .leftItemGrey a { color:#d53501; text-decoration:none; font-weight:bold; }
	 .leftBottomGrey { width:620px; height:18px; background:url('/images/leftbottomgrey.png'); }

	 
 	 /*.leftTopOther { padding:5px; font-weight:bold; text-align:center; background-color:#E2EFB3; color:#90AB32; margin:10px 5px 0 5px; border:2px solid #90AB32;}

 	 .leftTopOther a { color:#90AB32; font-weight:bold; text-decoration:none; }
*/
	 .leftItem {  padding:0 20px 0 20px; background:url('/images/leftcontent.png'); width:580px;  }
	 
	 .leftBottom { width:620px; height:23px; background:url('/images/leftbottom.png'); }
	 
	 .righttop { margin:10px 0 0 0; color:white;font-weight:bold;font-size:14px; padding: 33px 0 0 20px; width:324px; height:33px; background:url('/images/rightheader.png'); }
	 
	 .righttopgrey { margin:10px 0 0 0; color:white;font-weight:bold;font-size:14px; padding: 30px 0 0 20px; width:324px; height:33px; background:url('/images/righttopgrey.png'); }
	 
	 .rightcontent { line-height:18px; padding:10px 20px 10px 25px; background:url('/images/rightcontent.png'); width:299px; }
	 	 .rightcontent a { color:#d53501; font-weight:normal;  }

	 .rightbottom { background:url('/images/rightfooter.png'); width:344px; height:21px;  }
	 
	  .rightbottomgrey { background:url('/images/rightbottomgrey.png'); width:344px; height:16px;  }
	 .rightcontentgrey { line-height:18px; padding:0px 30px 10px 21px; background:url('/images/rightcontentgrey.png'); width:293px; }

	 input[type=checkbox] { float:left; margin:6px; } 
	 
	 input[type=text] { border:1px solid #cfcfcf; font-size:14px; border-radius:5px; background-color:#fafafa; width:365px; padding:5px; margin:1px; } 
 
	 select { width:200px; }
	 
	 #zip, #invoice_zip { width:40px; }
	 
	 #city, #invoice_city { width:307px; }
	 
	 
	 #submit { background:url('/images/save.png'); width:145px; height:35px; margin:6px auto; display:block; padding:12px 0 0 0; text-align:center; text-decoration:none; color:white;  font-weight:bold; font-size:18px;} 
	 
	  #submit:hover { text-shadow:1px 1px #000;} 
	
    
    #leftSide { width:620px;color:black; padding:1px 0 0 0;  float:left; }	
    
    .rightside {}
    
    .total { border-top:2px solid #af2c01; margin:10px 0 0 0; font-size:16px; font-weight:bold;}
    
    .hiddeninfo { color:black; display:none }
    
    .bold{ font-weight:bold; font-size:12px; text-decoration:none; background-color:#e9e7e0;  }
    
    .bold a { font-weight:bold;}
    
    table td { padding:5px;}
    table { 
  border-collapse:collapse;
}

    .bold a { color:red }
    
    a img { border:none }
    
    .offertitle { color:#d53501; font-weight:bold; text-transform:uppercase; text-align:center; font-size:14px;  padding:10px 0 10px 0; border-top:1px solid #b8b8b6; border-bottom:1px solid #b8b8b6; }
    
/*** facebox ****/

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

.note2 { padding:10px 0 5px 0; font-size:11px;  margin:0px 0 10px 0; border-bottom:1px solid #b8b8b6; }
/*** facebox *****/
.offerid { font-size:18px; font-weight:bold; text-align:center; padding:10px 0 10px 0; }

.copyright { font-size:11px; padding:10px 0 0 0; width:920px; margin:10px auto; border-top:1px dotted #b8b8b6; }
.rightcontentgrey ul li a { width:259px; height:14px; display:block; border-bottom:1px dotted #362e2c; padding:10px 0 10px 45px; margin:0 0 5px 0; color:black; font-weight:bold; text-decoration:none; }

.extraprices { padding-top:10px;}
.extraprices label { width:250px;}

.moreitems a { color:black; text-decoration:none;}

/* image picker */

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
   width:500px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
    margin: 1px;
    clear:none !important;
    float: left !important;}
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 3px;
      border: 1px solid #dddddd; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #0088cc; }


/* image picker */

