@media only screen and (max-width: 767px) {
	
	#container-outlet div { background:white !important; width:auto !important; color:black !important; font-size:12px !important; padding:0 5px 0 5px !important; margin:0 !important;}
	#container-outlet img { width:100% !important; height:auto !important;}
	#container-outlet #disclaimer-outlet { display:none;}
	#container-outlet #address-outlet { display:none;}
	#container-outlet #fullhouse { width:98% !important; margin:0 5px 0 5px !important;}
	#container-outlet #title-outlet { padding:10px 0 10px 0 !important; font-size:16px !important;}
	#container-outlet .contains-outlet { padding:15px 0 0 0 !important; display:block !important}
	#container-outlet #subtitle-outlet { padding:0 0 5px 0 !important; font-size:14px !important;}
	#container-outlet #moretext-outlet { display: none !important; }
	#container-outlet > #rwdtop { height:55px;  background:url('http://www.szallasoutlet.hu/images/onlogo.jpg') #cd2920 top center no-repeat !important; background-size:235px 55px !important; margin:0 !important; padding:0 !important;}
	#container-outlet { padding:0 !important; background-color:white;}
	#findmore { background-color:#8fab32 !important; font-size:10px !important; display:block !important; padding:10px 0 10px 0 !important; margin:0 0 10px 0 !important; text-align:center !important;}
}
body { padding:0; margin:0; }
.selector a { color:black; text-decoration:none;font-weight:bold; font-family:arial; }
.selector ul  { padding:0; margin:0; }
.selector ul  li { padding:0 0 0 10px; }
