/* new design */

html {
                font-size: 100%;
                height: 100%;
                margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
                }

body {
                font-family: Arial, Helvetica, sans-serif;
                color: #555;
                background: #f0f0f0 url('/images/framework/bg-body.gif') top left repeat-y;
                font-size: 12px;
                margin:0; padding:0;
                }

.dfilter { width:50px; }



#sumtotal { 
display:none; 
 margin:0 auto; 
padding:1px 1px 2px 2px;
width:300px;

font-size:17px; font-weight:bold; padding:5px;}
.lorange { background-color:#F7D59A; }

.dpink { background-color:#F781D8; }
.blackcolor { background-color:black; }

.foreignbankinfo { display:none; }
.resellerinfo { display:none; }

.centered { text-align:center; }

.rightborder { border-right:2px solid black; }

.lablerow { font-weight:bold; width:150px; background-color:#e7e7e7;} 

.bold { font-weight:bold; }
.right { text-align:right;}
.lightgrey { background-color:#ABD748; }

.tabbed { width:680px; background-color:orange; margin:0 auto;}     
.tabbed li { border-radius:6px; list-style:none; float:left; margin:10px; width:100px;  text-align:center; border:1px solid #c4c4c4; padding:5px;}          
.smallpriceform { font-size:10px; color:#ccc;}

.tabbed li.active {  font-weight:bold;}          

.nobr { white-space: nowrap; }

#leftcontainer { float:left; width:210px; margin:0 0 0 20px; padding:0;}
#logo {  width:166px; margin:5px 0 0 50px}
.hovertd:hover { background-color:#FFFFE0; }
.freeservice { background-color:#90EE90;}
.paidservice { background-color:#F08080; }
.statusbar { padding:10px 20px  0; font-size:12px; color:white; text-align:right;  }

.statusbar a { font-weight:normal; color:#ccc; font-size:11px; }

.statusbar a:active {
                color:#ccc;
                }

.statusbar a:hover {
                color:#fff;
                }
 
 
 .content-box {
                border: 1px solid #ccc;
                margin: 0 0 20px 0;
                background: #fff;
               }

.contentpadding {    padding:10px; }

.contenttitle { font-size:20px; font-weight:normal; padding:10px 0 0 10px;}
.contentpadding center { border-top:1px solid #ccc; margin-top:5px; padding:5px 0 0 0; font-size:10px}


 .content-box-header {
                background: #e5e5e5 url('/images/framework/bg-content-box.gif') top left repeat-x;
                margin-top: 1px;
                height: 39px;
                border-bottom:1px solid #ccc;
                
                }

.content-box-header h3 {
                padding: 12px 15px 10px;
                margin:0;
                float: left;
                }

ul.content-box-tabs {
                float: left;
                padding: 9px 15px 0 15px !important;
				margin: 0 !important;
                }

ul.content-box-tabs li {
                float: left;
                margin: 0;
                padding: 0 !important;
                list-style:none;
                background-image: none !important;
                }
                
ul.content-box-tabs li a {
                color: #333;
                padding: 8px 10px;
                display: block;
                margin: 1px;
                border-bottom: 0;
                }

ul.content-box-tabs li a:hover {
                color: #57a000;
                }              
                
ul.content-box-tabs li a.current {
                background: #fff;
                border: 1px solid #ccc;
                border-bottom: 0;
                margin: 0;
                }
 
 
 
 .content-box,
.content-box-header,
ul.content-box-tabs li a.current,
.shortcut-button,
.notification {
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
				border-radius: 6px;
                }
                
 
 .content-box-header {
                -moz-border-radius-bottomleft: 0;
                -moz-border-radius-bottomright: 0;
                -webkit-border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
                }
				
.closed-box .content-box-header {
                -moz-border-radius-bottomleft: 6px;
                -moz-border-radius-bottomright: 6px;
                -webkit-border-bottom-left-radius: 6px;
                -webkit-border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
                }

ul.content-box-tabs li a.current {
                -moz-border-radius-bottomleft: 0;
                -moz-border-radius-bottomright: 0;
                -webkit-border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
                }
			
	
.attention {
                background: #fffbcc url('/images/framework/icons/exclamation.png') 10px 11px no-repeat;
                border:1px solid #df8f8f;

                border-color: #e6db55;
                  background-position:4px 4px;
                color: #666452;
                padding:6px 5px 5px 25px;;
	width:605px;
	border-radius:3px; 
	margin:10px auto;
	text-align:left;
	font-weight:bold;
                }

.information {
                background: #dbe3ff url('/images/framework/icons/information.png');
                border-color: #a2b4ee;
                color: #585b66;
                }

.success {
                background: #d5ffce url('/images/framework/icons/tick_circle.png');
                border-color: #9adf8f;
                color: #556652;
                }

.error {
                background: #ffcece url('/images/framework/icons/cross_circle.png');
                border-color: #df8f8f;
                color: #665252;
                }


.invalid {
	border:1px solid #E56E94 !important;
}

/*
  background: #ffcece url('/images/framework/icons/cross_circle.png') no-repeat;
    background-position:4px 4px;
                border:1px solid #df8f8f;
                color: #665252;
                
                
padding:6px 5px 5px 25px;;
	width:605px;
	border-radius:3px; 
	margin:10px auto;
	text-align:left;
	font-weight:bold;

*/
		
/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
                font-family: Helvetica, Arial, sans-serif;
                color: #222;
                font-weight: bold;
                }

h1            { font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff; 
				  position: absolute; top: -1000px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
				}
				
h2            { font-size: 26px; padding: 0 0 20px 0; margin:0 0 10px 0; border-bottom:1px solid #ccc;}
h3            { font-size: 17px; padding: 0 0 10px 0; }
h4            { font-size: 16px; padding: 0 0 5px 0; }
h5            { font-size: 14px; padding: 0 0 5px 0; }
h6            { font-size: 12px; padding: 0 0 5px 0; }


a, .cpright a              { color: #57a000; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }

strong       { font-weight: bold; color: #333; }

small   		{ font-size: 0.85em; }

pre           { font-family: monospace; }

p {
                padding: 5px 0 10px 0;
                line-height: 1.6em;
                }

/********************************      General Classes      ********************************/
 
/************ Sidebar Accordion Menu ************/

#main-nav {
                width: 206px;
                padding: 0;
                margin: 30px 0 0 4px;
                font-family: Helvetica, Arial, sans-serif;
                }

#main-nav li {
                list-style: none;
                padding-bottom: 10px;
                text-align: right;
                }

#main-nav li a.nav-top-item {
                background: transparent url('/images/framework/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
                padding: 10px 15px;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                display: block;
                text-decoration: none;
                }

#main-nav li a.current {
                background-image: url('/images/framework/bg-menu-item-current.gif') !important;
                color: #333;
                font-weight: bold;
                }
                
#main-nav li a.current:hover {
                color: #333;
                }

#main-nav ul {
                padding: 0;
                font-size: 12px;
                margin: 0;
                }

#main-nav ul li {
                list-style: none;
                margin: 0;
                text-align: right;
				padding: 0;
                }

#main-nav ul li a {
                padding: 8px 15px;
                display: block;
                color: #aaa;
                font-size: 13px;
                line-height: 1.2em;
                }

#main-nav ul li a:hover,
#main-nav ul li a.current,
#main-nav ul li a.current:hover {
                color: #fff;
                }

#main-nav ul li a.current {
                background: transparent url('/images/framework/menu-current-arrow.gif') right center no-repeat !important;
                }

.chlang { margin:30px 0 0 40px;}
        
.cpright { text-align:center; border-top: 1px solid #ccc; padding:10px 0; font-size: 11px; margin:20px 0 10px 0;}  

#showinactive { margin:0; padding:0;}      

table { color:black; width:100%; }

fieldset legend {
                font-weight: bold;
                margin-bottom: 10px;
                padding-top: 8px;
                }
label {
                display: block;
                padding: 10px 0 0 10px;
                font-weight: bold;
                float:left;
                width:160px;
                }
             
                          
form input[type=text],
form input[type=password],
form select,
form textarea,
form .wysiwyg {
                padding: 6px;
                font-size: 13px;
                background: #fff url('/images/framework/bg-form-field.gif') top left repeat-x;
                border: 1px solid #d5d5d5;
				color: #333;
                }
            
form .small-input {
                width: 25% !important;
                }
                
form .medium-input {
                width: 50% !important;
                }
                
form .large-input {
                width: 97.5% !important;
				font-size: 16px !important;
				padding: 8px !important;
                }
                
form textarea {
                width: 97.5% !important;
                font-family: Arial, Helvetica, sans-serif;
                }
                
form select {
                padding: 4px;
                background: #fff;
                }
				
form input[type="checkbox"],
form input[type="radio"] {
				padding: 0;
                background: none;
				border: 0;
                }
.adminfeature { color:red; }
form input[type=text],
a.addprice,
form input[type=submit],
form input[type=button],
form input[type=password],
form textarea,
form .wysiwyg,
form select
 {
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
				border-radius: 4px;
			} /*.dp-popup*/
			
input[type=submit], input[type=button], a.addprice {
				font-family: Verdana, Arial, sans-serif;
                display: inline-block;
                background: #459300 url('/images/framework/bg-button-green.gif') top left repeat-x !important;
                border: 1px solid #459300 !important;
                padding: 4px 7px 4px 7px !important;
                color: #fff !important;
                font-size: 11px !important;
                cursor: pointer;
                }
                
input[type=submit]:hover, input[type=button]:hover, a.addprice:hover {
                text-decoration: underline;
                }
                
input[type=submit]:active, input[type=button]:active, a.addprice {
                padding: 5px 7px 3px 7px !important;
                }
                
.longinput { width:510px; }
.dateinput { width:80px; }
/* new design end */


h1 { padding:0 0 10px 0; margin:10px 0 10px 0; border-bottom:1px dotted #004b6f; color:#004b6f; font-style:italic; }

#loginfieldset { width:400px; }

.errorMessage { padding:10px 0 0 10px; }

.errorMessage a { font-weight:bold; text-decoration:underline; }
.welcome { padding:0 0 5px 10px; margin:10px 0 0 0;  color:#004b6f; font-style:italic; font-size:24px; font-weight: bold;}

#container {  margin:0; width:1200px; }

.news legend { white-space:normal;}

#content {  margin:0;padding:15px 0 0 30px; float:left; width:900px; min-width:600px; }

#pageTitle { font-size:20px; padding:10px 10px 3px 3px; color:white; font-style:italic; text-shadow:1px 1px 0px #006ba5; }

.leftItem { width:720px; background:url(/images/leftContent.png) repeat-y;margin:10px 0 10px 0; }

.leftContent { padding:10px; }

.leftContent ul { padding:0; margin:0; list-style:none; }

.leftContent ul li { padding:0; margin:0; background:url('/images/listBackground.png'); width:616px; height:30px; margin:4px 0 4px 35px; padding:8px 0 0 13px;}

.leftContent ul li label { color:#004b6f; font-weight:bold; float:left; display:block; width:200px; padding:3px 0 0 0;}

.leftContent ul li .long { color:#004b6f; font-weight:bold; float:left; display:block; width:400px; margin:-3px 0 0 0;}

.leftContent ul li.comment { padding:0; margin:0; background:url('/images/long.png'); width:616px; height:104px; margin:4px 0 4px 35px; padding:8px 0 0 13px;}

.leftContent ul li.comment textarea { float:left; width:274px; height:90px; border:1px solid #006ea4;  padding:5px 10px 0 10px; margin:0;}

.leftContent ul li input[type=text] { float:left; width:274px; height:18px; background:url('/images/input.png'); border:none; padding:5px 10px 0 10px; margin:0; }

.leftContent ul li input[type=checkbox] { float:left; }  

.info { float:right; margin:0 30px 0 0; }

#subMenu { float:right; width:320px; text-align:right; }

#subMenu ul { padding:0; margin:0; list-style:none; padding:5px 0 0 0; }

#subMenu ul li { padding:0; margin:0; float:left; padding:3px; color:#5eb9e6; }

#subMenu ul li a { color:#5eb9e6; text-decoration:none; font-size:12px; }

.note { color:#004b6f; font-style:italic; font-weight:bold; font-size:12px; margin:10px 0 10px 10px; }

#topHeader {}

#leftSide { float:left; width:730px; }
 
#rightSide { float:left; width:250px; }

.leftTop {  background:url("/images/leftTop.png"); height:30px; width:670px; color:#004b6f; font-weight:bold; font-size:18px; padding:13px 0 0 50px; }

.leftBottom {  background:url("/images/leftBottom.png"); height:18px; width:720px; }

#footer { min-height:123px; width: 100%; padding:0; background:url("/images/footer.jpg") top center no-repeat; background-color:#004c70; }




.rightBox { width:250px; background:url("/images/framework/rightContent.jpg") repeat-y; margin:0 0 10px 0; }

.rightTop { width:250px; height:11px; background:url("/images/framework/rightTop.jpg") no-repeat; }

.rightTopLastMinute {  width:230px; height:23px; background:url("/images/framework/lastMinute.jpg") no-repeat; margin:0px 0 10px 0; text-transform:uppercase; color:#004b6f; font-weight:bold; padding:10px 0 0 20px;}

.rightTopSuperLastMinute { width:230px; height:23px; background:url("/images/framework/superLastMinute.jpg") no-repeat; margin:10px 0 0 0; text-transform:uppercase; color:white; font-weight:bold; padding:10px 0 0 20px; }

.rightContent { text-align:center; }
/*
a#submit { width:118px; height:23px; background:url('/images/go.png'); margin:10px auto; display:block; color:white;text-decoration:none; text-align:center; font-weight:bold; text-transform: uppercase; padding:10px 0 0 0; }
*/
.rightBottom { width:250px; height:8px; background:url("/images/framework/rightBottom.jpg") no-repeat; }

.likeBox { margin:0 0 0 3px; width:242px; height:358px; overflow:hidden; }

.likeBox iframe {margin:-1px; }

.newsletterBox { margin:0 0 0 3px; width:202px; overflow:hidden; text-align:left; padding:10px 20px 10px 20px;}

.newsletterBox ul { margin:0; padding:0; list-style:none; }

.newsletterBox ul li { clear:both; height:30px; }

.newsletterBox label { padding:3px 0 0 0; display:block; float:left; width:70px; }

.newsletterBox input[type=text] { border:1px solid #004b6f; width:120px; -moz-border-radius: 5px;  -webkit-border-radius:5px; float:left; }

.newsletterBox a { display:block; -moz-border-radius: 5px;  -webkit-border-radius:5px; float:left; text-decoration:none; color:white; font-weight:bold; background-color:#0073aa; padding:5px; margin:0 0 0 60px; }

.hiddenbox { width:550px;background-color:none;padding:10px; margin:10px;display:none;}

.hiddenbox2, .hiddenbox3{ width:550px;background-color:none;padding:10px 0 0 40px; margin:10px;display:none;}

.hidden { display:none; }

#questionbox { padding:10px 0 0 20px;  }

#questionbox a {  background:url('/images/purplebg.jpg') no-repeat; width:616px; height:26px; margin:4px 0 4px 10px; padding:12px 0 0 13px; color:#004b6f; font-weight:bold; text-decoration:none; display:block;}
table, td
{
    border-color: #c4c4c4;
    border-style: solid;
	font-size:12px;
	font-family:arial;
}
.cleaner { clear:both; }
a {
	text-decoration:none;
	color:black;
}
fieldset {
	margin:0 auto;
	width:700px;
	border:1px solid #c4c4c4;
	border-radius:3px; 
}

fieldset.news {
	margin:0 auto;
	width:785px;
}

a img { border:none; }

fieldset ul {
	padding:0;
	margin:0;
}
fieldset ul li {
	padding:0;
	margin:5px 0 5px 0;
	clear:both;
	list-style:none;
}
hr { border-bottom:none; border-left:none; border-right:none; border-top: 1px solid #ccc; }

.copyright { text-align:center; font-weight:bold; margin:10px 0 0 0 ;}
table
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-radius:3px;
    border-collapse: collapse;
}
.small {
	width:30px;
}
.small1 {
	width:80px;
	margin:0 0 0 1px;
}
.small2 {
	width:140px;
}
td
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}

.secondline td { border-bottom-width:2px;}
.header {
	background-color:#c4c4c4;
	text-align:center;
	font-weight:bold;
}
.org {
	background-color:#FFCC66;
}
.lightblue {
	background-color:#CCFFFF;
}
.red {
	background-color:#E56E94;
}

.lightgreen {
	background-color:#C3FDB8;
}

.green {
	background-color:#4E9258;
}
.lgrey {
	background-color:#e7e7e7;
}
.grey {
	background-color:#c4c4c4;
}
.pink {
	background-color:pink;
}
.blue {
	background-color:#79BAEC;
}
.purple {
	background-color:#9E7BFF;
}
.orange {
	background-color:orange;
}
.yellow {
	color:black;
	background-color:#FFFFCC;
}
.notify {
	padding:5px;
	border:1px dotted black;
	background-color:green;
	color:white;
	width:400px;
	margin:0 auto;
	text-align:center;
}
.notify a { 
	color:white;
	font-weight:bold;
}
.subMenu a {
	display:block;
	padding:5px;
	width:130px;
	margin:5px;
	border-radius:3px;
	text-align:center;
	font-size:12px;
	text-decoration:none;
	color:black;
	font-weight:normal;
	border:1px solid black;
	float:left;
}
.yellow a{ 
	color:black;
}
.bold {
	font-weight:bold;
}
.filter,.subMenu {
	text-align:center;
	width:915px;
	margin:0 auto;
	padding:0
	
}
a.button {
	display:block;
	padding:5px;
	width:130px;
	margin:5px;
	text-align:center;
	font-size:12px;
	text-decoration:none;
	color:white;
	font-weight:normal;
	border:1px solid black;
	float:left;
	border-radius:3px;
}
a.selectbutton {
	display:block;
	padding:5px;
	width:130px;
	margin:5px;
	text-align:center;
	font-size:12px;
	text-decoration:none;
	border:1px solid #004b6f;
	float:left;
	color:#004b6f;
	background-color:#d4e9ee;
}
a.white {
	color:black;
}
.offers ul {
	padding:0;
	margin:0;
	list-style:none;
}
.offers ul li {
	clear:both;
	height:24px;
}

.offers ul li label{
	float:left;
	width:100px;
	font-weight:bold;
}
.offers ul li input[type=text]{
	width:500px;
	border:1px solid black;
	height:20px;
}

.calendarmessage {

    background: #ffcece;
    background-position:4px 4px;
                border:1px solid #df8f8f;
                color: #665252;
                
                
padding:6px 5px 5px 5px;
	width:888px;
	border-radius:3px; 
	margin:10px auto;
	text-align:left;
	font-weight:bold;
}

.redmessage {

    background: #ffcece url('/images/framework/icons/cross_circle.png') no-repeat;
    background-position:4px 4px;
                border:1px solid #df8f8f;
                color: #665252;
                
                
padding:6px 5px 5px 25px;;
	width:605px;
	border-radius:3px; 
	margin:10px auto;
	text-align:left;
	font-weight:bold;
}
.message {
	padding:10px;
	margin:10px;
	border:1px dashed #c4c4c4;
	border-radius:3px;
	width:375px;
	margin:10px auto;
	text-align:center;
	font-weight:bold;
	background-color:#f7f7f7;

}
.rowHead {
	background-color:#c4c4c4;
	font-weight:bold;
	text-align:center;
}
#facebox table, #facebox td { border:none; }

input.long { width:250px; }

label.required { font-weight:bold; }

.formCalculate { background-color:#c4c4c4; }

.formCalculate2 { background-color:#c4c4c4; }

.maskeddate { width:90px; text-align:right; }

.tarea { width:250px; height:70px; border:1px solid black; font-family:arial; font-size:12px;}





.numeric { width:60px; text-align:right; }

.tabs a { display:block; float:left; border:1px solid black; padding:3px; margin:1px 1px 0px 1px;}

.tabs a.active { background-color:#c4c4c4; color:white;}

.partnerForm input[type=text] { width:500px; }

.partnerForm textarea { width:500px; height:30px;  }

.partnerForm label { padding-top:4px; padding-left:3px;}

.settingsForm input[type=text] { width:300px;}

.settingsForm legend { font-weight:bold;}

.settingsForm { margin-bottom:10px; width:500px;}

#editform { margin-bottom:10px; width:745px;}


.priceform { width:350px; }

.priceform .maskeddate { width:80px;}

.priceform input[type=text] { width:100px; }

.pricetextarea { border:1px solid black; width:190px; height:40px;}

a.addprice { display:block; width:85px; text-align:center; margin:10px auto; text-decoration:none; }
/*
a.addprice { display:block; padding:5px; border:1px solid black; width:80px; margin:0 auto; margin-top:10px; text-align:center; background-color:#c4c4c4;}
*/

#invoiceform input[type=text] { width:500px; }

#invoiceform .invoiceform { margin:0; width:80px;}

.galleryitem { float:left; border-left:1px dashed black; border-bottom:1px dashed black; }

.gallery img {margin:3px; width:133px;}

.default { background-color:#c4c4c4; }

.btn { display:block; padding:3px; background-color:#c4c4c4; border:1px solid black; width:90px; margin:10px 0 10px 0; text-align:center;}


/***** uploader *****/

/* CSS vs. Adblock tabs */
.swiff-uploader-box a {
	display: none !important;
}




#demo-status .progress {
	background: url(/images/progress-bar/progress.gif) no-repeat;
	background-position: +50% 0;
	margin-right: 0.5em;
	vertical-align: middle;
}

#demo-status .progress-text {
	font-size: 0.9em;
	font-weight: bold;
}

#demo-list {
	list-style: none;
	width: 450px;
	margin: 0;
	padding:0;
}

#demo-list li.validation-error {
	padding-left: 44px;
	display: block;
	clear: left;
	line-height: 40px;
	color: #8a1f11;
	cursor: pointer;
	border-bottom: 1px solid #fbc2c4;
	background: #fbe3e4 url(/images/failed.png) no-repeat 4px 4px;
}

#demo-list li.file {
	border-bottom: 1px solid #eee;
	background: url(/images/file.png) no-repeat 4px 4px;
	
}
#demo-list li.file.file-uploading {
	background-image: url(/images/uploading.png);
	background-color: #D9DDE9;
}
#demo-list li.file.file-success {
	background-image: url(/images/success.png);
}
#demo-list li.file.file-failed {
	background-image: url(/images/failed.png);
}

#demo-list li.file .file-name {

	margin-left: 44px;
	display: block;
	font-size:8px;
	clear: left;
	line-height: 40px;
	height: 40px;
	font-weight: bold;
}
#demo-list li.file .file-size {
	font-size: 0.9em;
	line-height: 18px;
	float: right;
	margin-top: 2px;
	margin-right: 6px;
}
#demo-list li.file .file-info {
	display: block;
	margin-left: 44px;
	font-size: 0.9em;
	line-height: 20px;
	clear
}
#demo-list li.file .file-remove {
	clear: right;
	float: right;
	line-height: 18px;
	margin-right: 6px;
}

/***** uploader ends here *****/
.facebookoffers { }
.facebookoffers textarea { width:490px; height:200px; padding:5px; margin:0;}
.facebookoffers input[type=text] { border:1px solid #c4c4c4; }
.activation { padding: 10px 0 10px 0; }
.homeleft { float:left; width:450px;}
.homenews { margin:15px 0 0 0; float:right; width:500px;}
.newsbox { border:1px solid #c4c4c4; border-radius:3px;  margin:5px 0 5px 0;  }
.newstitle { background-color:#c4c4c4; padding:5px; font-weight:bold; }
.newscontent { padding:5px; }
.newscontent center { margin:5px 0 0 0; font-size:10px; font-style:italic; border-top:1px solid #c4c4c4; padding:5px 0 0 0;}

.searchform { border:1px solid black;-moz-opacity:0.8;opacity:0.80;width:200px;padding:1px 1px 2px 2px;position:fixed;top:0px;right:0px;background-color:white; }
.searchform input[type=text] { border:1px solid black; height:20px;width:150px;margin:1px 5px 0 0;padding:0;float:left; }
.searchform .searchbutton { 

font-family: Verdana, Arial, sans-serif;
                display: inline-block;
                background: #459300 url('/images/framework/bg-button-green.gif') top left repeat-x !important;
                border: 1px solid #459300 !important;
                padding: 4px 7px 4px 7px !important;
                color: #fff !important;
                font-size: 11px !important;
                cursor: pointer;
                
         -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
				border-radius: 4px;
                
display:block; background:none; float:left;  text-transform:uppercase;}


/*** facebox ****/

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

/*** facebox *****/

/*** wizard ****/


#mainNav li{
	height:71px;
	list-style:none;
	 border-radius:3px;
	float:left;
	background-color:#EBEBEB;
	background-image: url(/images/navBtn.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

#mainNav li.current{
	background-color:#519c00;
	background-image: url(/images/navfg.png);
}

#mainNav li.lastDone{
	background-color:#519c00;
	background-image: url(/images/navLastDoneBtn.gif);
}

#mainNav li.done{
	background-color:#519c00;
	background-image: url(/images/navdonebg.png);
}

#mainNav li a, #mainNav li a:link, #mainNav li a:visited, #mainNav li a:hover, #mainNav li a:active {
color:#ccc;
}

#mainNav li.lastDone a, #mainNav li.lastDone a:link, #mainNav li.lastDone a:visited, #mainNav li.lastDone a:hover, #mainNav li.lastDone a:active, #mainNav li.current a, #mainNav li.current a:link, #mainNav li.current a:visited, #mainNav li.current a:hover, #mainNav li.current a:active, #mainNav li.done a, #mainNav li.done a:link, #mainNav li.done a:visited, #mainNav li.done a:hover, #mainNav li.done a:active {
color:#fff;
}

#mainNav li.done a:hover, #mainNav li.lastDone a:hover  {
color:#FFFF99;
cursor:hand;
}

#mainNav li a em{
width:150px;
display:block;
margin:6px 0 10px 10px;
font-style:normal;
font-weight:bold;
}

#mainNav li a span{
width:140px;
display:block;
margin-left:10px;
font-weight:normal;
}

#mainNav li.mainNavNoBg{
background-image:none;
}

#mainNav li a{
height:71px;
display:block;
}
#mainNav { margin:0 auto; width:780px;}
/* #mainNav.fiveStep */
#mainNav.fiveStep li{width:182px;}
#mainNav.fiveStep li a{width:182px;}

.kbinfo { border:1px solid #efefef; padding:5px; margin:5px;}

.kbinfo p { padding:0; margin:0;}

.kbtitle { background-color:#efefef; padding:5px; }

.roomtitle { clear:both; font-weight:bold; font-size:14px; border-bottom:1px solid #ccc;}

@media print {
	body { background:none; }
	.content-box-header { display:none; }
	.non-print { display:none; }
}

input[type=text][disabled] {
 text-align:right;
background:none;
background-color:#e7e7e7 !important;
}



/* datepicker css */


table.jCalendar {
	border: 0px solid #000;
    border-collapse: separate;
    border-spacing: 1px;
}
table.jCalendar th {
	background: #7b7b7b;
	color: #fff;
	font-weight: bold;
	padding: 3px 1px;
}

table.jCalendar td {
	background: #70b000;
	color: #000;
	padding: 3px 1px;
	text-align: center;
	border:none;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #d90000;
	color: #fff;
}

.maskeddate .dp-applied { /* width:200px; */ }

table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #d90000;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #bbb;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #f4f4f4;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 169px;
	margin-top:30px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 5px 0 5px 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
	font-size:11px;
}
div.dp-popup td.disabled {
	cursor: default;
}
/* date picker ends */

.tooltip{
   			display: inline;
    		position: relative;
		}
		
		.tooltip:hover:after{
    		background: #333;
    		background: rgba(0,0,0,.8);
    		border-radius: 5px;
    		bottom: 26px;
    		color: #fff;
    		content: attr(title);
    		left: 20%;
    		padding: 5px 15px;
    		position: absolute;
    		z-index: 98;
    		width: 220px;
		}
		
		.tooltip:hover:before{
    		border: solid;
    		border-color: #333 transparent;
    		border-width: 6px 6px 0 6px;
    		bottom: 20px;
    		content: "";
    		left: 50%;
    		position: absolute;
    		z-index: 99;
		}


ins {
    background-color: #cfc;
    text-decoration: none;
}

del {
   color: #999;
   background-color:#FEC8C8;
}
/* image picker */

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
   width:500px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
    margin: 1px;
    clear:none !important;
    float: left !important;}
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 3px;
      border: 1px solid #dddddd; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #0088cc; }


/* image picker */

/*autocomplete*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

/*autocomplete*/

/*dropdown*/    	
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover { color:#000 !important; }  
 #content > div.wrapper > div > div.contentpadding > fieldset > form > div > button  { width:150px; overflow:hidden; }