#voucher { font-family: bauh; font-size:60px; color:#e45525; margin:120px 0 0 130px; height:55px;}
	#outlet { font-family:bauh; color:#d9cfc3; font-size:72px; text-align:center; height:110px; display:none;}
	body { margin:0; padding:0; font-size:12px; font-family:Arial; }
	#container { margin:30px 0 0 35px;width:800px;height:1176px; }
	.cleaner { clear:both; }
	#descr { margin:0 0 0 110px; }
	.bigPrice { font-size:18px; }
	#date {  padding:20px 0 0 0; float:left; width:160px; text-transform: uppercase; }
	#header { padding:73px 0 0 70px; color:#857b6c; font-weight:bold; }
	#serial { padding:20px 0 0 0; float:left; width:180px; text-transform: uppercase; }
	#price {  padding:14px 0 0 0; float:left;}
	#title {  height:72px;font-size:35px; color:#857b6c; text-align:center; padding:13px 0 0 0; font-family:arial;}
	#subTitle {  font-size:24px; text-align:center; height:55px; padding:0 45px 0 45px;color:#857b6c;   }
	.bid_title { color:#e45525; font-size:27px;}
	#voucherImage { padding:0 0 0 130px; height:192px; }
	#voucherImageTitle { padding:8px 0 0 0; text-align:center; color:#790000; font-weight:bold; }
	#voucherImageAddress { padding:5px 0 0 0; text-align:center; color:#857b6c; font-weight:normal; font-size:14px; }
	#room {  font-weight:normal; color:#857b6c; }
	#roomTitle { padding:30px 0 0 0; text-align:center; color:#790000; font-size:14px; font-weight:bold;  }
	#validity { height:55px; padding:0; color:#857b6c; }
	#notIncludeTitle { font-weight:bold; color:#857b6c; }
	#notInclude {  height:30px; color:#857b6c;}
	#footer { padding:0px 0 0 0px; color:#857b6c; font-size:9px; text-align:center;font-weight:bold; text-transform:uppercase;}
	#voucherContent { height:562px; }
	#copyright { text-align:center; color:#898989; padding:30px 0 0 0; }
	#infoLeft { float:left; width:240px; margin:0 0 0 140px; text-align:justify; color:#857b6c;}
	#infoRight { float:left; width:300px; padding:0; margin:0 0 0 30px; text-align:left;}
	#subT { font-weight:bold; color:#857b6c; margin:-12px 0 0 0;  }
	#st { font-weight:bold; color:#857b6c; padding:10px 0 0 0;  }
	#info { padding:25px 0 0 0; color:#898989; font-size:12px; height:200px;}
	.bold { font-weight:bold; color:green;}
	.strike { text-decoration: line-through; }
	.plusService { margin:0; padding:10px 0 0 0px; list-style:none; font-size:11px; }
	
	.plusService li { 	list-style-type: none; background: url('/images/extra.jpg') no-repeat top left; padding:0 0 0 19px }
	.notice { padding:10px 10px 10px 10px; width:550px; margin:0 auto;  font-size:8px;  font-weight:normal; }
	#qrcode img { width:120px;}
	#qrcode { margin-left:90px; height:147px;}
	#gift_box { display:none;}