	#voucher { font-family: Arial; font-size:38px;  color:#343434; margin:10px 0 0 0px; height:55px;}
	#outlet { display:none; font-family:bauh; color:#d9cfc3; font-size:72px; text-align:center; height:110px;}
	body { margin:0; padding:0; font-size:12px; font-family:Arial; }
	#gift_title { font-size:24px; padding:30px 0 30px 0; }
	#gift_body { width:315px; font-size:16px;}
	#container { margin:30px 0 0 35px;width:800px;height:1176px; }
	.cleaner { clear:both; }
	#descr { margin:0 0 0 110px; }
	.bigPrice { font-size:18px; }
	#date {  padding:20px 0 0 0; float:left; width:160px; text-transform: uppercase; }
	#header { padding:35px 0 0 70px; color:#857b6c; font-weight:bold; }
	#serial { padding:20px 0 0 0; float:left; width:180px; text-transform: uppercase; }
	#price {  padding:14px 0 0 0; float:left;}
	#title {  height:72px;font-size:35px; color:#857b6c; text-align:center; padding:13px 0 0 0; font-family:arial;}
	#subTitle {  font-size:24px; text-align:center; height:55px; padding:0 45px 0 45px;color:#857b6c;   }
	.bid_title { color:#e45525; font-size:27px;}
	#voucherImage { padding:0 0 0 130px; height:192px; }
	#voucherImageTitle { padding:8px 0 0 0; text-align:center; color:#790000; font-weight:bold; }
	#voucherImageAddress { padding:5px 0 0 0; text-align:center; color:#857b6c; font-weight:normal; font-size:14px; }
	#room {  font-weight:normal; color:#857b6c; }
	#roomTitle { padding:30px 0 0 0; text-align:center; color:#790000; font-size:14px; font-weight:bold;  }
	#validity { height:60px; padding:0; color:#857b6c; }
	#notIncludeTitle { font-weight:bold; color:#857b6c; }
	#notInclude {  height:30px; color:#857b6c;}
	#footer { padding:10px 0 0 10px; color:#857b6c; font-size:9px; text-align:center;font-weight:bold; text-transform:uppercase;}
	#voucherContent { height:532px;}
	#copyright { text-align:center; color:#898989; padding:17px 0 0 0; }
	#infoLeft { float:left; width:220px; margin:0 0 0 140px; text-align:justify; color:#857b6c;}
	#infoRight { float:left; width:300px; padding:0; margin:0 0 0 50px; text-align:left;}
	#subT { font-weight:bold; color:#857b6c; margin:-12px 0 0 0;  }
	#st { font-weight:bold; color:#857b6c; padding:10px 0 0 0;  }
	#info { padding:42px 0 0 0; color:#898989; font-size:12px; height:185px;}
	.bold { font-weight:bold; color:green;}
	.strike { text-decoration: line-through; }
	.plusService { margin:0; padding:10px 0 0 10px; list-style:none; list-style-type:circle; font-size:11px; }
	.notice { padding:17px 10px 10px 10px; width:550px; margin:0 auto;  font-size:8px;  font-weight:normal; }
	#qrcode { padding:0 0 0 100px; height:55px; }
		#qrcode img { width:55px;}

	#gift_box { height:265px; color:#343434; font-weight:normal;}